.large-12.columns
  = form_for @purchase_order do |f|
    - if @purchase_order.errors.any?
      #error_explanation
        %h2= "#{pluralize(@purchase_order.errors.count, "error")} prohibited this purchase_order from being saved:"
        %ul
          - @purchase_order.errors.full_messages.each do |msg|
            %li= msg

    .large-6.columns
      .field
        = f.label :number, "Purchase Order Number"
        = f.number_field :number
    .large-6.columns
      .field
        = f.label :date
        = f.text_field :date, data: {type: :date}

    .large-6.columns
      
      %h6 Your Company Details
      .field
        = f.label :your_company_name, "Company Name"
        = f.text_field :your_company_name
      .field
        = f.label :delivery_address
        = f.text_area :delivery_address
      .field
        = f.label :raised_by
        = f.text_field :raised_by
      .field
        = f.label :phone_number, "Your Contact Number"
        = f.text_field :phone_number
      .field
        = f.label :email, "Contact Email"
        = f.text_field :email
      
    .large-6.columns
      %h6 Supplier Details
      .field
        = f.label :supplier_name
        = f.text_field :supplier_name
    .large-12.columns
      %h3 Items
      = f.fields_for :line_items do |li|
        = render "line_item" , f: li
    .large-12.columns
      .right= link_to_add_fields "Add Line", f, :line_items
    .large-12.columns
      = f.label :note, "Additional Notes"
      = f.text_area :note

      .actions
        %br/
        %br/
        %br/
        = f.submit 'Save & Download', class: :button

