.large-12.columns
  = form_for @purchase_order do |f|
    - if @purchase_order.errors.any?
      #error_explanation
        %h2= "#{pluralize(@purchase_order.errors.count, "error")} prohibited this purchase_order from being saved:"
        %ul
          - @purchase_order.errors.full_messages.each do |msg|
            %li= msg

    .large-6.columns
      .field
        = f.label :number, "Purchase Order Number"
        = f.number_field :number
      .field
        = f.label :raised_by
        = f.text_field :raised_by
      .field
        = f.label :your_company_name
        = f.text_field :your_company_name
      .field
        = f.label :delivery_address
        = f.text_area :delivery_address
      .field
        = f.label :supplier_name
        = f.text_field :supplier_name
    .large-12.columns
      %h3 Items
      = f.fields_for :line_items do |li|
        = render partial: "line_item" , locals: { f: li }
    .large-12.columns
      .right= link_to_add_fields "Add Line", f, :line_items

      .actions
        = f.submit 'Download PDF', class: :button

