.line_item.fields.row
  .large-4.columns.field
    = f.text_field :description, placeholder: "Description"
  .large-2.columns.field
    = f.text_field :quantity, placeholder: "Qty"

  .large-2.columns.field
    = f.text_field :tax_rate, placeholder: "Tax Rate"
  .large-2.columns.field
    = f.text_field :price, placeholder: "Unit Price"
  .large-2.columns.inline
    = link_to_remove_fields "&times;".html_safe, f
