%img{ src: "http://localhost:3000/images/100x100_icon.png"}
%h1 
  Purchase Order 
.small
  %strong= @purchase_order.your_company_name
  = @purchase_order.delivery_address

%br/

.row
  .large-6.columns
    %p
      %label PO #:
      = @purchase_order.number
      = @purchase_order.budget
  .large-5.columns
    %p
      %label Date:
      = @purchase_order.date
.row
  .large-6.columns

    %p 
      %label Raise by
      = @purchase_order.raised_by
    %p
      %label Phone:
      = @purchase_order.phone_number

    %p
      %label Email:
      = @purchase_order.email



  .large-6.columns
    %p
      %b Supplier name:
      = @purchase_order.supplier_name

  



%table{ style: "width:100%;"}
  %thead
    %tr
      %td #
      %td Item
      %td Quantity
      %td Tax
      %td Unit Cost
      %td Total

  - @purchase_order.line_items.each_with_index do |line_item, index|
    %tr
      %td= index + 1
      %td{ width: "50%"}
        = simple_format line_item.description
      %td{ width: "10%"}
        = line_item.quantity
      %td{ width: "10%"}
        = line_item.tax_rate
      %td{ width: "10%"}
        = number_to_currency line_item.price, unit: default_currency
      %td{ width: "10%" }
        = number_to_currency line_item.total, unit: default_currency


  %tfoot
    %tr
      %td
      %td
      %td{ colspan: 2} Total ex Tax
      %td=  number_to_currency @purchase_order.total, unit: default_currency
    %tr
      %td
      %td
      %td{ colspan: 2} Total Inc Tax
      %td= number_to_currency @purchase_order.total_including_tax, unit: default_currency

.row
  .large-12.columns
    %label Notes
    %p#note
      = "None" if @purchase_order.note.blank?
      = @purchase_order.note 

.row
  .large-2.columns.signature_label
    %label Signed By
  .large-4.columns
    #signature_line

  .large-2.columns.signature_label
    %label Date
  .large-4.columns
    #signature_line


