.row
  .large-9.columns
    .panel
      = render "purchase_order_detail"
  .large-3.columns
    .xpanel
      %br/
      = link_to "Download As PDF", purchase_order_path(@purchase_order, format: :pdf), disabled: disable_download(@purchase_order), class: "button expand", id: "download_pdf_link"
      = link_to "Request Approval", new_purchase_order_authorization_path( @purchase_order ), class: "button secondary expand"
      = link_to "New Purchase Order", new_purchase_order_path, class: "button secondary expand"
      = link_to "Back", :back




- unless @purchase_order.notes.empty?
  .row
    .large-12.columns
      - @purchase_order.notes.each do |note|
        .panel
          = simple_format note.content

.row
  .large-12.columns
 

%script
  ga('send', 'event', 'All', 'Show PO');

= render partial: "/layouts/adwords_conversion"
