%h1 Authorization Request

%p #{@authorization.purchase_order.raised_by} would like you to approve the following purchase order request.  

%label Supplier
= @authorization.purchase_order.supplier_name
%table
	%thead
		%tr
			%td
				Item
			%td 
				Units
			%td Unit Cost
			%td Total
	%tbody{ style: "width:100px"}
		- @authorization.purchase_order.line_items.each do |li|
			%tr
				%td= li.description
				%td= li.quantity
				%td= li.price
				%td= li.total
	}
	%tfoot
		%tr
			%td
			%td
			%td Total ex Tax
			%td= @authorization.purchase_order.total


= link_to purchase_order_url( @authorization.purchase_order) do 
	More Details


%p
	To approve this request, click the following link.

= link_to "Authorize", purchase_order_authorization_url( @authorization.purchase_order, @authorization.authorization_key, status: "Authorized")
%br/
%br/
= link_to "Decline", purchase_order_authorization_url( @authorization.purchase_order, @authorization.authorization_key, status: "Declined")


%p
	To add a comment on this purchase order or ask a question, just hit reply.