%h1 Authorization Request

%p #{@authorization.purchase_order.raised_by} would like you to approve the following purchase order request.  

= link_to purchase_order_url( @authorization.purchase_order) do 
	#{@authorization.purchase_order.supplier_name}
	#{@authorization.purchase_order.total}


%p
	To approve this request, click the following link.

= link_to "Authorize", purchase_order_authorization_url( @authorization.purchase_order, @authorization.authorization_key, status: "Authorized")
%br/
%br/
= link_to "Decline", purchase_order_authorization_url( @authorization.purchase_order, @authorization.authorization_key, status: "Declined")


%p
	To add a comment on this purchase order or ask a question, just hit reply.