.row{ style: "margin-top:10px"}
	.large-offset-3.large-6.columns
		.panel
			%h4 Send an Authorization Request
			= form_for @authorization, url: purchase_order_authorizations_path(@purchase_order) do |f|
				.fields
					= f.label :sender_email, "Your Email"
					= f.text_field :sender_email, placeholder: "Your email address"
					= f.label :email, "The authorizors email address"
					= f.text_field :email, placeholder: "The Approvers Email Address"
				.actions
					= f.submit "Send Request", class: :button
