<!DOCTYPE html>
<html>
<head>
  <title>Pdfpo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "vendor/custom.modernizr" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>

<div class="row">
	<div class="large-12 columns">
		<%= yield %>
	</div>
</div>

</body>
</html>
