!!!
%head
  %title Free Purchase Order Template
  = stylesheet_link_tag    "application", :media => "all" 
  = javascript_include_tag "application"
  = javascript_include_tag "vendor/custom.modernizr"
  = csrf_meta_tags 
  %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0"}

%body
  = render partial: "/layouts/analytics"

  .container
    #banner
      .row
        .large-12.columns
          %h1 
            %a{ href: "/" } Free Purchase Order Template


    .row
      .large-12.columns
        = yield 
